.print-section{
    width: 865px;
    /*border: 1px solid red;*/
    margin: auto;
}

.print-body{
    width: 750px;
    margin: auto;
}


@media print {
    .filter{
        display: none;
    }

    .print-body{
        margin: auto;
    }
}


.report-table > tr {
    font-size: .8em;
 
}

.report-table > tr > td {
    border: 1px solid rgb(209, 209, 209);
    padding: 5px;
}




